# Abstract

Final project for Electronic Publishing and Digital Storytelling in fullfillment of an LM in Digital Humanities and Digital Knowledge from the University of Bologna.

## Project Aims
Wikidata is one of the largest free and open knowledge databases in the world. 
Launched in 2012, it now contains over 97 million items, over six million of them people.

This project investigates how Wikidata describes art historians and how those descriptions differ across gender.
This project serves as a case study in how our descriptions of history create history.

### Phase 1: Overview
We first wanted to get an wide view of Wikidata's data on art historians.
To do this we first queried art historians grouped by gender.

In [108]:
#insert Denise's initial query that breaks down those with art historian/sub groups into genders
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"


General_Query = """
SELECT ?genderLabel (count(distinct ?human) as ?number)
WHERE
{SERVICE wikibase:label {
     bd:serviceParam wikibase:language "en" .
   }
  ?human wdt:P31 wd:Q5
  ; wdt:P21 ?gender
  ; wdt:P106/wdt:P279* wd:Q1792450 .
}
GROUP BY ?genderLabel
"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(General_Query)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()


# manipulate the result
for result in results["results"]["bindings"]:
    gender = result["genderLabel"]["value"]
    total = result["number"]["value"]
    
    print ("On Wikidata there are" + " " + total + " " + gender + " " + "art historians.")

On Wikidata there are 11757 male art historians.
On Wikidata there are 5881 female art historians.
On Wikidata there are 2 non-binary art historians.

Then we wanted to look at the properties used to describe art historians across genders. So we ran a query to count the number of properties used for each

In [13]:
#insert Sarah's query getting property counts
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
my_SPARQL_query = """
SELECT ?genderLabel (count(distinct ?property) as ?number)
WHERE
{SERVICE wikibase:label {
     bd:serviceParam wikibase:language "en" .
   }

  ?human wdt:P31 wd:Q5
  ; wdt:P21 ?gender
  ; ?property ?object
  ; wdt:P106/wdt:P279* wd:Q1792450 .

}

GROUP BY ?genderLabel
"""
# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(my_SPARQL_query)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()

# manipulate the result
for result in results["results"]["bindings"]:
    print(result["genderLabel"]["value"], result["number"]["value"])
print("🦐")

male 2662
female 1797
non-binary 233
🦐

This query is for NOT distinct, so total number of declarations

In [63]:
#insert Sarah's query getting property counts
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
my_SPARQL_query = """
SELECT ?genderLabel (count(?property) as ?number)
WHERE
{SERVICE wikibase:label {
     bd:serviceParam wikibase:language "en" .
   }

  ?human wdt:P31 wd:Q5
  ; wdt:P21 ?gender
  ; ?property ?object
  ; wdt:P106/wdt:P279* wd:Q1792450 .

}

GROUP BY ?genderLabel
"""
# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(my_SPARQL_query)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()

# manipulate the result
for result in results["results"]["bindings"]:
    print(result["genderLabel"]["value"], result["number"]["value"])
print("🌮")

male 1204094
female 422519
non-binary 493
🌮

We also wanted to look at basic trends over time.

In [135]:
from SPARQLWrapper import SPARQLWrapper, JSON, GET, POST, CSV
import csv 
import pandas as pd
import requests
import json
import ssl
import numpy as np
import pandas as pd
import string
import networkx as nx
import matplotlib.pyplot as plt

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"


property_over_time= """

SELECT  ?year ?genderLabel(count(?historian) as ?count) 

WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?historian wdt:P31 wd:Q5
                    ;wdt:P21 ?gender
                    ;wdt:P106/wdt:P279* wd:Q1792450
                    ; ?property ?object
                    ;wdt:P569 ?birthdate FILTER(?birthdate > "1900-01-01T00:00:00Z"^^xsd:dateTime)
                   
}
GROUP BY (year(xsd:dateTime(?birthdate)) as ?year) ?genderLabel

Order by ?genderLabel DESC(?year)

"""
# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(property_over_time)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
time_result = sparql_wd.query().convert

with open('periods.csv', mode='w') as my_file:
    my_writer = csv.writer(my_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_ALL)
    my_writer.writerow(["Year","Gender", "Total"])

    #for result in time_result["results"]["bindings"]:
        #my_writer.writerow([result["year"]["value"],result["genderLabel"]["value"], result["count"]["value"].strip()])

In [136]:
data = pd.read_csv("periods.csv")
# print the first 5 rows
data.head()

Empty DataFrame
Columns: [Year, Gender, Total]
Index: []

__NOTE!!!! This code copies everything from the first one and just changes the query. Is there a more efficient way to do this? It seems good to have it all bc you could run whichever query you want whenever you want but if we know she's going to run all the preceeding code before, maybe there's a way to make it more efficient (eg. only import once, reuse variables, etc.?)__

### Phase 2: Types of Properties
Then we wanted to break down those properties into types to see if certain properties/types of properties appear more often for some genders over others.
The first query is for how many art historians of each gender are also linked to a VIAF authority.

******* had huge problems getting a more generic query to work; really want ANY authority, not just viaf. see project notes

In [22]:
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
my_SPARQL_query = """
SELECT ?genderLabel (count(distinct ?human) as ?number)
WHERE
{SERVICE wikibase:label {
     bd:serviceParam wikibase:language "en" .
   }

  ?human wdt:P31 wd:Q5
  ; wdt:P21 ?gender
  ; ?property ?object
  ; wdt:P106/wdt:P279* wd:Q1792450 
  ; wdt:P214 ?viafid .
}


GROUP BY ?genderLabel
LIMIT 10
"""
# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(my_SPARQL_query)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()

# manipulate the result
for result in results["results"]["bindings"]:
    print(result["genderLabel"]["value"], result["number"]["value"])
print("🧁")

male 10998
female 5197
non-binary 2
🧁

In [5]:
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
my_SPARQL_query = """
# Make a list of the most used authority control properties for people for art historians by gender
SELECT ?propertyLabel ?genderLabel ?count WHERE {
  {
    select distinct?gender ?propertyclaim (COUNT(*) AS ?count) where {
      ?item wdt:P106/wdt:P279* wd:Q1792450  .
      ?item wdt:P31 wd:Q5 .
      ?item wdt:P21 ?gender .
      ?item ?propertyclaim [] .
    } group by ?propertyclaim ?gender
  }
  ?property wikibase:propertyType wikibase:ExternalId .
  ?property wdt:P31 wd:Q19595382 .
  ?property wikibase:claim ?propertyclaim .
  SERVICE wikibase:label {            # ... include the labels
    bd:serviceParam wikibase:language "en" .
  }
} ORDER BY DESC (?count)
#LIMIT 100
"""
# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(my_SPARQL_query)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()

# manipulate the result
for result in results["results"]["bindings"]:
    print(result["propertyLabel"]["value"], result["genderLabel"]["value"], result["count"]["value"])
print("👻")

VIAF ID male 11548
ISNI male 9640
WorldCat Identities ID male 9520
Library of Congress authority ID male 8596
GND ID male 8474
NUKAT ID male 7830
Nationale Thesaurus voor Auteurs ID male 7190
Bibliothèque nationale de France ID male 5736
VIAF ID female 5432
NKCR AUT ID male 5081
Deutsche Biographie (GND) ID male 4950
PLWABN ID male 4277
ISNI female 4026
WorldCat Identities ID female 3661
Library of Congress authority ID female 3493
SHARE Catalogue author ID male 3425
GND ID female 3419
Vatican Library VcBA ID male 3129
Unione Romana Biblioteche Scientifiche ID male 3092
NUKAT ID female 2994
American Academy in Rome ID male 2934
IxTheo authority ID male 2774
NORAF ID male 2580
Open Library ID male 2412
Nationale Thesaurus voor Auteurs ID female 2368
Bibliothèque nationale de France ID female 2212
National Library of Israel J9U ID male 2137
abART person ID male 2089
Vatican Library ID (former scheme) male 2033
CONOR.SI ID male 1802
NKCR AUT ID female 1746
Kallías ID male 1571
Deutsche Biographie (GND) ID female 1476
RERO ID male 1462
CiNii author ID (books) male 1423
NLA Trove people ID male 1269
National Library of Israel ID (old) male 1243
PLWABN ID female 1193
Svenska Institutet i Rom ID male 1127
SEARCH on line catalogue ID male 1073
NORAF ID female 1039
SHARE Catalogue author ID female 1039
Libraries Australia ID male 1020
Persée author ID male 991
University of Barcelona authority ID (obsolete) male 989
Prabook ID male 985
CANTIC ID male 973
SBN author ID male 948
CANTIC ID (old) male 928
CERL Thesaurus ID male 926
American Academy in Rome ID female 925
LNB ID male 913
NLP ID (old) male 908
Babelio author ID male 856
IxTheo authority ID female 855
abART person ID female 844
RERO ID female 835
SNAC ARK ID male 834
National Library of Israel J9U ID female 830
Vatican Library VcBA ID female 811
SELIBR ID male 800
Unione Romana Biblioteche Scientifiche ID female 794
openMLOL author ID male 791
Canadiana Name Authority ID male 783
Libris-URI male 778
Pontificio Istituto di Archeologia Cristiana ID male 750
Rijksmuseum Research Library authority ID male 722
SAIA authority ID male 700
CONOR.SR ID male 695
CONOR.SI ID female 665
CiNii author ID (books) female 642
Angelicum ID male 631
Geni.com profile ID male 611
Pontificia Università della Santa Croce ID male 589
Tabakalera ID male 581
National Library of Korea ID male 511
Vatican Library ID (former scheme) female 466
NSK ID male 461
Canadiana Name Authority ID female 454
Rijksmuseum Research Library authority ID female 439
BNB person ID male 437
GEPRIS-Historisch ID (Person) male 381
CoBiS author ID male 371
Kallías ID female 352
Biographical Dictionary of the Czech Lands ID male 344
British Museum person or institution ID male 332
SEARCH on line catalogue ID female 322
Persée author ID female 316
Svenska Institutet i Rom ID female 310
SBN author ID female 305
SELIBR ID female 295
Cyprus University of Technology ID male 291
LNB ID female 285
CTHS person ID male 282
CONOR.BG ID male 278
Libraries Australia ID female 277
Dialnet author ID male 271
National Library of Israel ID (old) female 264
CANTIC ID female 261
NLA Trove people ID female 259
University of Barcelona authority ID (obsolete) female 257
Tabakalera ID female 252
Biblioteca Iglesia Nacional Española en Roma ID male 251
Libris-URI female 244
UK National Archives ID male 243
Invaluable.com person ID male 233
General Diamond Catalogue ID male 233
Babelio author ID female 232
Academy of Athens authority ID male 231
CANTIC ID (old) female 229
Museo Galileo authority ID male 220
National Library of Brazil ID male 219
BAnQ author ID male 219
Perlentaucher ID male 199
Pontificia Università della Santa Croce ID female 190
Open Library ID female 189
Munzinger person ID male 184
Frick Art Reference Library Artist File ID male 183
SAIA authority ID female 182
Prabook ID female 177
Léonore ID male 176
WikiTree person ID male 174
Dictionnaire critique des historiens de l'art ID male 172
IMDb ID male 169
NSK ID female 165
artist-info curator ID male 164
PIM authority ID male 164
Archaeology Data Service person ID male 161
NSZL (VIAF) ID male 160
NSZL name authority ID male 160
Pontificio Istituto di Archeologia Cristiana ID female 155
EBAF authority ID male 153
Dialnet author ID female 152
Find a Grave memorial ID male 150
Fichier des personnes décédées ID (matchID) male 149
Biografisch Portaal van Nederland ID male 147
Sejm-Wielki.pl profile ID male 147
National Library of Korea ID female 145
LinkedIn personal profile ID female 145
Archives at Yale names ID male 143
ORCID iD female 137
SNK ID male 137
Angelicum ID female 134
ORCID iD male 131
Philadelphia Museum of Art entity ID male 131
BNB person ID female 129
BHF author ID male 129
SNAC ARK ID female 127
NLP ID (old) female 126
openMLOL author ID female 120
HKCAN ID male 115
Cyprus University of Technology ID female 114
Polish scientist ID male 113
The Peerage person ID male 106
Archive Site Trinity College Cambridge ID male 106
Pontifical University of Salamanca ID male 104
CONOR.SR ID female 102
Geni.com profile ID female 101
Isidore scholar ID male 94
BDELIS ID male 92
Royal Swedish Academy of Letters member ID male 92
WBIS ID male 90
Polish scientist ID female 85
ICCD agent ID male 85
Students of Prague Universities ID male 84
BAnQ author ID female 82
Nachlässe in Austria ID male 82
KANTO ID male 82
Provenio UUID male 82
National Historical Museums of Sweden agent ID male 82
Biblioteche della Custodia di Terra Santa a Gerusalemme ID male 82
SICRIS researcher ID female 81
National Library of Brazil ID female 77
IMDb ID female 75
genealogics.org person ID male 74
Evene ID male 73
Biographical Dictionary of the Czech Lands ID female 71
Schoenberg Database of Manuscripts name ID male 70
SIUSA archive producer person ID male 69
Biblioteca Franco Serantini ID male 69
BHF author ID female 68
General Diamond Catalogue ID female 68
Teuchos ID male 67
Biblioteca Iglesia Nacional Española en Roma ID female 66
BeWeb person ID male 65
Médias 19 ID male 65
Hungarian National Namespace person ID male 64
National Library of Wales Authority ID male 62
IDU person ID male 62
LinkedIn personal profile ID male 61
Edvard Munch's correspondance person ID male 60
Internet Speculative Fiction Database author ID male 60
Joconde author ID male 60
Rheinland-Pfälzische Personendatenbank ID male 59
artist-info curator ID female 58
TMDb person ID male 57
ČSFD person ID male 57
SICRIS researcher ID male 56
Academic Tree ID male 56
BHL creator ID male 56
PIM authority ID female 54
AADFI member ID male 54
RHE doctor ID male 52
Encyclopedia of Brno History person ID male 50
Perlentaucher ID female 49
Accademia delle Scienze di Torino ID male 49
FranceArchives agent ID male 49
Filmportal ID male 48
CONOR.BG ID female 48
Union Catalog of Armenian Libraries authority ID male 48
NSZL (VIAF) ID female 47
EGAXA ID male 47
NSZL name authority ID female 47
SNK ID female 47
Catalogue of the Capitular Library of Verona author ID male 45
Theses.fr person ID male 44
KNAW past member ID male 43
LBT person ID male 43
FemBio ID female 42
Canadiana Authorities ID (former scheme) male 41
Kindred Britain ID male 41
Athenaeum person ID male 41
Patrinum ID male 41
Academic Tree ID female 40
Nobel Prize People Nomination ID male 40
Les Archives du spectacle person ID male 39
Swedish Portrait Archive ID male 38
Canal-U person ID male 38
AE member ID male 38
DBC author ID male 38
Theses.fr person ID female 38
Carl-Maria-von-Weber-Gesamtausgabe ID male 38
LIMIS person ID male 38
Norwegian historical register of persons ID male 37
LRB contributor ID male 37
Sejm-Wielki.pl profile ID female 37
Olschki author ID male 37
National Library of Ireland ID male 37
IDU person ID female 36
French Academy in Rome resident ID male 35
DUC ID female 35
Encyclopædia Britannica contributor ID male 35
CoBiS author ID female 35
AV Production person ID male 35
Companies House officer ID male 34
Fichier des personnes décédées ID (matchID) female 34
EBAF authority ID female 34
Archaeology Data Service person ID female 33
LibriVox author ID male 33
ResearchGate profile ID female 33
Heidelberg Academy for Sciences and Humanities member ID male 33
WikiTree person ID female 33
GeneaStar person ID male 33
ZOBODAT person ID male 33
OpenEdition Books author ID female 32
Saxon Academy of Sciences member ID male 32
KANTO ID female 32
MART catalog person ID male 32
NSDAP membership number (1925–1945) male 31
Museo Galileo authority ID female 31
Pontifical University of Salamanca ID female 31
Amazon author ID male 30
EMLO person ID male 30
Google Scholar author ID male 30
ARAE ID male 30
NYRB contributor ID male 29
Le Lettere di Theodor Mommsen agli Italiani ID male 29
Enciclopedia di Roma person ID male 29
Scopus author ID female 28
Olschki author ID female 28
Adelphi author ID male 27
OpenEdition Books author ID male 27
Scopus author ID male 27
AcademiaNet ID female 27
YCBA agent ID male 27
Curran Index contributor ID male 27
Amazon author ID female 26
Archivio dei possessori ID male 26
Aracne author ID female 26
vedidk ID male 26
Académie des Inscriptions et Belles-Lettres member ID male 25
Filmový přehled person ID male 25
OpenPlaques subject ID male 25
CCAB ID male 25
Google Scholar author ID female 25
ResearchGate profile ID male 25
CONOR.AL ID male 25
KVAB member ID male 24
Biblioteca di Santa Sabina ID male 24
IRIS SNS author ID male 24
The Peerage person ID female 23
GEPRIS person ID male 23
Find a Grave memorial ID female 23
Cambridge Alumni Database ID male 23
UK National Archives ID female 23
LombardiaBeniCulturali artwork author ID male 23
Portrait Archive ID male 23
IRIS SNS author ID female 23
ČSFD person ID female 22
IRIS Sapienza author ID female 22
Biografisch Portaal van Nederland ID female 21
Cairn author ID female 21
Slovak National Library ID (VIAF) male 21
Catalogue of the General State Archives ID male 21
Canadiana Authorities ID (former scheme) female 20
CERL Thesaurus ID female 20
IRIS Sapienza author ID male 20
TMDb person ID female 19
Alexander Turnbull Library ID male 19
Hungarian National Namespace person ID female 19
zbMATH author ID male 19
British Museum person or institution ID female 19
vedidk ID female 19
Sandrart.net person ID male 18
Sächsische Biografie (GND) ID male 18
Cairn author ID male 18
MacArthur Fellows Program ID male 18
Accademia della Crusca ID male 17
Art Gallery of South Australia creator ID male 17
Swedish Film Database person ID male 17
MSBI person ID male 17
Encyclopedia of Brno History person ID female 17
BiographySampo person ID male 17
Researchmap ID male 16
Canal-U person ID female 16
French Academy in Rome resident ID female 16
COURAGE ID male 16
AlloCiné person ID male 16
genealogics.org person ID female 16
PORT person ID male 16
Danish National Filmography person ID male 16
Electronic Enlightenment ID male 16
Aracne author ID male 16
George Eastman Museum people ID male 16
Index of Historic Collectors and Dealers of Cubism ID male 15
FamilySearch person ID male 15
KVAB member ID female 15
BDCYL authority ID male 15
Semantic Scholar author ID female 15
NMVW ID male 15
EFIS person ID male 15
LRB contributor ID female 14
Paměť národa ID male 14
RSL ID (person) male 14
ResearcherID male 14
Masaryk University person ID male 14
Masaryk University person ID female 14
Elonet person ID male 14
Slovník českých nakladatelství 1848-1949 person ID male 14
Students of Prague Universities ID female 14
GEPRIS-Historisch ID (Person) female 14
Festivaletteratura person ID male 14
Academy of Athens authority ID female 14
BIU Santé person ID male 13
NYRB contributor ID female 13
AE member ID female 13
SIUSA archive producer person ID female 13
Filmportal ID female 13
Estonian Research Portal person ID female 13
Český hudební slovník osob a institucí ID male 13
Hyperion Records person ID male 13
Joods Biografisch Woordenboek ID male 13
St. Sergius Institute authority ID male 13
Dimensions author ID male 12
Académie française member ID male 12
Encyklopedia Teatru Polskiego person ID male 12
ResearcherID female 12
Internet Speculative Fiction Database author ID female 12
Royal Swedish Academy of Letters member ID female 12
DBC author ID female 12
Semantic Scholar author ID male 12
Radio Radicale person ID male 12
LiederNet composer ID male 12
MYmovies person ID male 12
IDIH ID male 11
Académie de Versailles member ID male 11
Harvard Index of Botanists ID male 11
Invaluable.com person ID female 11
Companies House officer ID female 11
Amburger database ID male 11
CTHS person ID female 11
WBIS ID female 11
National Historical Museums of Sweden agent ID female 11
LTit person ID male 11
Podchaser creator ID male 11
e-Rad researcher number male 11
FLORE author ID male 11
PictoRight ID code male 11
Dimensions author ID female 10
PARES ID male 10
Flanders Arts Institute person ID male 10
BD Gest' author ID male 10
Austrian Parliament 1848–1918 ID male 10
Rodovid ID male 10
Munzinger person ID female 10
Database of Classical Scholars ID male 10
Archivio Storico Ricordi person ID male 10
AAGM person or institution ID male 10
Union Catalog of Armenian Libraries authority ID female 10
Archives at Yale names ID female 10
OsobnostiRegionu.cz ID male 10
Catalogue of the Capitular Library of Verona author ID female 10
MovieMeter person ID male 10
Biblioteche della Custodia di Terra Santa a Gerusalemme ID female 10
AADFI member ID female 10
Franciscan Center of Christian Oriental Studies ID male 10
ARPI author ID male 10
GEPRIS person ID female 9
LONSEA ID male 9
Entomologists of the World ID male 9
Estonian biographical database ID male 9
NLC authorities male 9
CRIStin ID female 9
Isidore scholar ID female 9
Slovak National Library ID (VIAF) female 9
Philadelphia Museum of Art entity ID female 9
Archive Site Trinity College Cambridge ID female 9
Order of Canada recipient ID male 9
AV Production person ID female 9
Istituto Veneto di Scienze, Lettere ed Arti member ID male 9
SNSF person ID male 9
Evene ID female 8
Canal Académie ID male 8
Muck Rack journalist ID male 8
BVPB authority ID male 8
EPHE ID male 8
Académie des sciences d'outre-mer member ID male 8
Aozora Bunko author ID male 8
Mathematics Genealogy Project ID male 8
BBF ID male 8
Encyclopædia Britannica contributor ID female 8
MTMT author ID male 8
Kindred Britain ID female 8
WeRelate person ID male 8
Australian Women's Register ID female 8
EFIS person ID female 8
Nachlässe in Austria ID female 8
CONOR.AL ID female 8
Cinémathèque québécoise person ID male 8
Biblioteca di Santa Sabina ID female 8
IRIS UNINA author ID male 8
PGM author ID male 8
LittleSis people ID male 8
National Library of Ireland ID female 8
HKCAN ID female 7
ResearchGate contributions ID female 7
Académie royale de Belgique member ID male 7
Merkelstiftung person ID male 7
Researchmap ID female 7
Akadem person ID male 7
EDIT16 catalogue author ID male 7
COURAGE ID female 7
Filmový přehled person ID female 7
CALIS ID male 7
Kritisches Lexikon der Gegenwartsliteratur ID male 7
DVN ID female 7
Estonian Research Portal person ID male 7
Grace's Guide ID male 7
Marburger Professorenkatalog ID male 7
HAS member ID male 7
Publons author ID male 7
ASUT ID male 7
Gateway to Research person ID female 7
Rheinland-Pfälzische Personendatenbank ID female 7
Medieval Manuscripts in Oxford Libraries person ID male 7
Portrait Archive ID female 7
MacArthur Fellows Program ID female 7
e-Rad researcher number female 7
ARPI author ID female 7
Muck Rack journalist ID female 6
BDELIS ID female 6
Académie de Rouen member ID male 6
Norwegian historical register of persons ID female 6
CiNii author ID (articles) male 6
Lambiek Comiclopedia artist ID male 6
Filmweb.pl person ID male 6
Encyklopedia Teatru Polskiego person ID female 6
France Culture person ID female 6
Akadem person ID female 6
Medicina author ID male 6
Biblioteche dei filosofi ID male 6
botanist author abbreviation male 6
IPNI author ID male 6
Dharma Drum Institute of Liberal Arts person ID male 6
Internet Broadway Database person ID male 6
HelveticArchives ID male 6
Rotten Tomatoes ID male 6
Rotten Tomatoes ID female 6
CRIStin ID male 6
PORT person ID female 6
MTMT author ID female 6
PhilPapers author ID male 6
student register of the University of Helsinki ID (1853–1899) male 6
FilmPolski.pl ID male 6
Collective Biographies of Women ID female 6
Personendatenbank Germania Sacra ID male 6
Gateway to Research person ID male 6
Frauen in Bewegung 1848–1938 ID female 6
Biblioteca Franco Serantini ID female 6
Digital Library of Armenian Literature author ID male 6
Romanistenlexikon ID male 6
Festivaletteratura person ID female 6
IRIS UNIBO author ID female 6
U-PAD author ID female 6
LittleSis people ID female 6
Open Media Database person ID male 5
Savoirs ENS ID male 5
ResearchGate contributions ID male 5
Share-VDE author ID male 5
Flanders Arts Institute person ID female 5
Webb-site person ID male 5
Swedish Academy member ID male 5
Classiques des sciences sociales ID male 5
Trading Card Database person ID male 5
BVLarramendi ID male 5
Rodovid ID female 5
AlloCiné person ID female 5
BLPL author ID male 5
zbMATH author ID female 5
CCAB ID female 5
Theatricalia person ID male 5
TED speaker ID male 5
National Library of Wales Authority ID female 5
BHL creator ID female 5
Biblioteca Nacional de México ID male 5
HAL author ID male 5
BeWeb person ID female 5
NMVW ID female 5
Quirinale ID female 5
Order of Canada recipient ID female 5
Patrinum ID female 5
ANPI person numeric ID male 5
Biographia Benedictina ID male 5
Catalogue of the General State Archives ID female 5
The Women's Print History Project person ID male 5
FLORE author ID female 5
LMHL author ID male 5
Académie de Montpellier member ID male 4
Dictionnaire de spiritualité ID male 4
Microsoft Academic ID male 4
Microsoft Academic ID female 4
Armenian National Academy of Sciences ID male 4
IUF member ID male 4
Medicina author ID female 4
Alexander Turnbull Library ID female 4
Paměť národa ID female 4
Swiss National Sound Archives ID male 4
Bionomia ID male 4
Poincaré Papers person ID male 4
e-archiv.li ID male 4
NCL ID male 4
EGAXA ID female 4
Global Anabaptist Mennonite Encyclopedia Online ID male 4
Database of Classical Scholars ID female 4
Les Archives du spectacle person ID female 4
CESAR person ID male 4
French Sculpture Census artist ID male 4
DBLP author ID female 4
BDRC Resource ID male 4
Scope.dk person ID male 4
autores.uy ID male 4
TED speaker ID female 4
FamilySearch person ID female 4
Leopoldina member ID male 4
Publons author ID female 4
The Conversation author ID female 4
Regesta Ecclesiastica Salisburgensia ID male 4
LIMIS person ID female 4
Provenio UUID female 4
Cyprus Bibliography ID male 4
Franciscan Center of Christian Oriental Studies ID female 4
ASE person ID male 4
MART catalog person ID female 4
INAPP author ID male 4
USiena air author ID male 4
SNSF person ID female 4
IRIS UNISA author ID male 4
Re.Public@Polimi author ID female 4
Re.Public@Polimi author ID male 4
PORTO@Iris author ID female 4
PORTO@Iris author ID male 4
Zürich Herbaria collector ID male 4
Académie royale de Belgique member ID female 3
Biblioteca Virtual Andalucía authority ID male 3
Académie des Inscriptions et Belles-Lettres member ID female 3
Swedish Portrait Archive ID female 3
EPHE ID female 3
Premiers préfets ID male 3
France Culture person ID male 3
IUF member ID female 3
Whonamedit? doctor ID male 3
Encyclopaedia Herder person ID male 3
BD Gest' author ID female 3
Memorial Book Bundesarchiv ID female 3
Memorial Book Bundesarchiv ID male 3
Mathematics Genealogy Project ID female 3
Low German Bibliography and Biography ID male 3
Catholic Hierarchy person ID male 3
Internet Broadway Database person ID female 3
Swedish Film Database person ID female 3
Elonet person ID female 3
warheroes.ru ID male 3
LBT person ID female 3
PhilPeople profile male 3
FilmPolski.pl ID female 3
Danskefilm person ID male 3
The Black Book ID male 3
WBPLN author ID male 3
HAL author ID female 3
Radio Radicale person ID female 3

### Phase 2a: Professions and Occupations

Total number of other jobs

In [6]:
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
number_jobs = """
SELECT ?genderLabel (COUNT(?job) AS ?count_job)
WHERE 
{ 

  ?human wdt:P21 ?gender
  ; wdt:P106 wd:Q1792450
  ; wdt:P106 ?job
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }

}
GROUP BY ?genderLabel
"""
# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(number_jobs)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()


# manipulate the result
for result in results["results"]["bindings"]:
    print(result["genderLabel"]["value"], result["count_job"]["value"])
print("🍩")

male 27557
female 11080
non-binary 7
🍩

In [142]:
#QUERY MALE

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
male_job_list = """

SELECT ?jobLabel (COUNT(?human) AS ?tot)

WHERE 
{ 
  ?human wdt:P21 wd:Q6581097
  ; wdt:P106 wd:Q1792450
  ; wdt:P106 ?job
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
GROUP BY ?jobLabel 
ORDER BY DESC(?tot)
LIMIT 21
"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(male_job_list)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
male_job_list_result = sparql_wd.query().convert()


with open('male_jobs.csv', mode='w') as my_file:
    my_writer = csv.writer(my_file, delimiter=',', quoting=csv.QUOTE_ALL)
    # write the column names
    my_writer.writerow(['Job', 'Total'])
    for result in male_job_list_result ["results"]["bindings"]:
        my_writer.writerow([result["jobLabel"]["value"], result["tot"]["value"].strip()])
        


# parse the csv into a dataframe
df = pd.read_csv("male_jobs.csv")
# print the first 15 rows
df.head(20)

                        Job  Total
0             art historian  11139
1        university teacher   1804
2                    writer   1056
3             archaeologist   1033
4                 historian   1003
5                   painter    640
6                   curator    552
7                art critic    497
8        exhibition curator    415
9                journalist    385
10                  teacher    377
11                architect    355
12          museum director    311
13           anthropologist    258
14                     poet    237
15  architectural historian    236
16            art collector    209
17               translator    208
18       opinion journalist    206
19                   author    204

In [143]:
QUERY FEMALE

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
female_job_list = """

SELECT ?jobLabel (COUNT(?human) AS ?tot)

WHERE 
{ 
  ?human wdt:P21 wd:Q6581072 
  ; wdt:P106 wd:Q1792450
  ; wdt:P106 ?job
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
GROUP BY ?jobLabel 
ORDER BY DESC(?tot)
LIMIT 21
"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(female_job_list)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
female_job_list_result = sparql_wd.query().convert()


with open('female_jobs.csv', mode='w') as my_file:
    my_writer = csv.writer(my_file, delimiter=',', quoting=csv.QUOTE_ALL)
    # write the column names
    my_writer.writerow(['Job', 'Total'])
    for result in female_job_list_result ["results"]["bindings"]:
        my_writer.writerow([result["jobLabel"]["value"], result["tot"]["value"].strip()])
        


# parse the csv into a dataframe
df = pd.read_csv("female_jobs.csv")
# print the first 15 rows
df.head(20)

                   Job  Total
0        art historian   5698
1   university teacher    487
2            historian    418
3   exhibition curator    391
4              curator    385
5               writer    379
6        archaeologist    188
7           art critic    164
8           journalist    139
9               author    117
10          translator    114
11             teacher    112
12  opinion journalist    104
13     museum director     90
14             painter     88
15           professor     87
16         museologist     76
17           librarian     66
18              artist     58
19            academic     52

In [145]:
#QUERY NON BINARY

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
non_binary_job_list = """

SELECT ?jobLabel (COUNT(?human) AS ?tot)

WHERE 
{ 
  ?human wdt:P21 wd:Q48270 
  ; wdt:P106 wd:Q1792450
  ; wdt:P106 ?job
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
GROUP BY ?jobLabel 
ORDER BY DESC(?tot)
LIMIT 21
"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(non_binary_job_list)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
non_binary_job_list_result = sparql_wd.query().convert()


with open('non_binary_jobs.csv', mode='w') as my_file:
    my_writer = csv.writer(my_file, delimiter=',', quoting=csv.QUOTE_ALL)
    # write the column names
    my_writer.writerow(['Job', 'Total'])
    for result in non_binary_job_list_result ["results"]["bindings"]:
        my_writer.writerow([result["jobLabel"]["value"], result["tot"]["value"].strip()])
        


# parse the csv into a dataframe
df = pd.read_csv("non_binary_jobs.csv")
# print the first 15 rows
df.head(20)

               Job  Total
0           writer      1
1        professor      1
2    art historian      1
3       journalist      1
4      film critic      1
5  literary critic      1
6         essayist      1

It is lear that both man and women after art historian is university teacher. So we wanted to take a look at the property related to university degree for both genders

In [147]:
ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
Academic_Degree = """
SELECT ?degreeLabel ?gender ?genderLabel (count(?human) as ?count)
WHERE
{ 
  ?human wdt:P31 wd:Q5
  ; wdt:P21 ?gender
  ; wdt:P106/wdt:P279* wd:Q1792450 
  ; wdt:P512 ?degree
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}

GROUP BY ?degreeLabel ?gender ?genderLabel
ORDER BY ?gender DESC(?count)
"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(Academic_Degree)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
Academic_Degree_result = sparql_wd.query().convert()

for result in results["results"]["bindings"]:
    print(result["degreeLabel"]["value"], result["genderLabel"]["value"],result["count"]["value"])

TypeError: 'method' object is not subscriptable


### Phase 2b: Personal Relationships
Are men or women more likely to have personal relationships listed? What kinds of relationships appear?

Below query shows all personal relationship properties and how often they're used. I think it's super weird that "relative" is used exclusively in women's profiles.

In [20]:
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
my_SPARQL_query = """
# Make a list of the most used authority control properties for people for art historians by gender
SELECT ?propertyLabel ?genderLabel ?count WHERE {
  {
    select distinct?gender ?propertyclaim (COUNT(*) AS ?count) where {
      ?item wdt:P106/wdt:P279* wd:Q1792450  .
      ?item wdt:P31 wd:Q5 .
      ?item wdt:P21 ?gender .
      ?item ?propertyclaim [] .
    } group by ?propertyclaim ?gender
  }
  #?property wikibase:propertyType wikibase:ExternalId .
  ?property wdt:P31 wd:Q22964231 .
  ?property wikibase:claim ?propertyclaim .
  SERVICE wikibase:label {            # ... include the labels
    bd:serviceParam wikibase:language "en" .
  }
} ORDER BY DESC (?count)
#LIMIT 100
"""
# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(my_SPARQL_query)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()

# manipulate the result
for result in results["results"]["bindings"]:
    print(result["propertyLabel"]["value"], result["genderLabel"]["value"], result["count"]["value"])
print("👶")

child male 798
father male 736
sibling male 624
spouse male 591
spouse female 378
father female 241
mother male 213
child female 161
relative male 156
sibling female 132
mother female 102
relative female 40
number of children male 30
unmarried partner male 23
number of children female 16
unmarried partner female 4
stepparent male 2
godparent male 1
godparent female 1
number of children non-binary 1
👶

# Phase 2c: Academic Relationships: 

Query to see if there is any significant difference in the academic interaction between art historians depending on gender.

In [155]:
ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

# prepare the query
Academic_Relationship = """

SELECT ?historiangenderLabel ?studentgenderLabel (count(?student) as ?numberstudent)
WHERE
{
?historian wdt:P31 wd:Q5
; wdt:P21 ?historiangenderLabel
; wdt:P106/wdt:P279* wd:Q1792450
; wdt:P185 ?student.
?student wdt:P21 ?studentgenderLabel
}



GROUP BY ?studentgenderLabel ?historiangenderLabel
"""
# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(Academic_Relationship)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
Academic_Relationship_results = sparql_wd.query().convert()

for result in Academic_Relationship_results["results"]["bindings"]:
    print(result["studentgenderLabel"]["value"], result["historiangenderLabel"]["value"], result["numberstudent"]["value"])

http://www.wikidata.org/entity/Q6581097 http://www.wikidata.org/entity/Q6581097 161
http://www.wikidata.org/entity/Q6581072 http://www.wikidata.org/entity/Q6581097 88
http://www.wikidata.org/entity/Q6581097 http://www.wikidata.org/entity/Q6581072 21
http://www.wikidata.org/entity/Q6581072 http://www.wikidata.org/entity/Q6581072 16
http://www.wikidata.org/entity/Q6581072 http://www.wikidata.org/entity/Q48270 4
http://www.wikidata.org/entity/Q6581097 http://www.wikidata.org/entity/Q48270 1